<aside class="sidebar">
  <nav>
    <ul>
      <li>
        <a routerLink="/clientes" routerLinkActive="active">
          <span class="icon">👤</span> Clientes
        </a>
      </li>
      <li>
        <a routerLink="/cuentas" routerLinkActive="active">
          <span class="icon">🏦</span> Cuentas
        </a>
      </li>
      <li>
        <a routerLink="/movimientos" routerLinkActive="active">
          <span class="icon">💸</span> Movimientos
        </a>
      </li>
      <li>
        <a routerLink="/reportes" routerLinkActive="active">
          <span class="icon">📊</span> Reportes
        </a>
      </li>
    </ul>
  </nav>
</aside>
